@import "tailwindcss/preflight";
@tailwind utilities;
@import "tailwindcss";

/* Define dark mode color scheme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #2b2b2b;
    --foreground: #ededed;
  }
}

/* Set global body styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Adjust padding for larger screens */
@media (min-width: 640px) {
  body {
    margin: 4rem;
  }
}

@media (max-width: 639px) {
  body {
    margin: 1rem;
  }
}
